*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
        font-family: "Bebas Neue", Arial, Helvetica, sans-serif     ;  
        background-color: #c95a05fb;
        overflow-x: hidden;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
}

.logo{
    
    display: flex ;
    position: relative;
  
}
.logo span{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic; 
    color: #ffff;
    position: absolute;
    top: 10px;
    left: 130px;
    letter-spacing: 1.5px;
}
.logo img{
    width: 180px;
    height: 100px;
}
nav{
    z-index: 9999;
 
}

nav ul{
    display: flex;
    list-style: none;

}
li a {
    display: inline-block;
    padding:0 20px;
    font-size: 1.5rem;
    text-decoration: none;
    color:#ffff;
    font-weight: 600;
    transition: .3s;
    
     
}
li a:after{
    content: '';
    width: 0px;
    height: 3px;
    background-color: #ffff;
    display: block;
    transition: .3s;    

}
li a:hover::after{
    width: 100%;
}
.category{
    margin-right: 40px;
}
button{
    width: 160px;
    height: 45px;
    background-color: whitesmoke;
    color: black;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius : 25px;
    cursor: pointer;
    border: 2px solid black;
    font-weight: 500;
    transition: .3s;
  


}
button:hover{
    background-color: #df3030;
    color: white;
    border-top-right-radius: 5px;
}   
section{
    min-height: 100vh;
    overflow: hidden;}
    section #animate{
        transition: 2s;
    }
    .sec-1 #animate{
        opacity: 0;
    }
    .sec-1.show-animation #animate{
        opacity: 1;
    }
    section #animatepic{
        transition: 2s;
    }
    .sec-1 #animatepic{
        transform: rotateY(300deg);
        opacity: 0;
    }
    .sec-1.show-animation #animatepic{
        transform: rotateY(360deg);
        opacity: 1;
    }
     section:nth-child(2) #animate
     {
        transition: 1s;
     }
     .sec-2 #animate{
        transform: translateY(150px);
        opacity: 0;
    }
    .sec-2.show-animation #animate{
        transform: translateY(0);
        opacity: 1;
    }
    section:nth-child(3) #animatehigh
    {
        
       transition: 1s;
    }
    .sec-3 #animatehigh{
       opacity: 0;
       transform: translateY(-100px);
    }
    .sec-3.show-animation #animatehigh{
       opacity: 1;
       transform: translateY(0);
    }
    section:nth-child(3) #animate
    {
       transition: 1s;
    }
    .sec-3 #animate{
        transform: translateY(200px);
       opacity: 0;
    }
    .sec-3.show-animation #animate{
        transform: translateY(0);
       opacity: 1;
    }
.protein-hero{
    position: relative;
}
.protein-container{
    height: 95vh;
    width: 100%;


}
.protein-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height:180px;
    font-family: Radio Canada Big;
}
.protein-content span{
    font-size: 13rem;
    font-weight: bold;
    font-weight: 900;
    letter-spacing: 2px;
    color: #d6a419;
    text-shadow: 1px 1px 1px #919191,
                 1px 2px 1px #919191,  
                 1px 3px 1px #919191,
                 1px 4px 1px #919191,                   
                 1px 5px 1px #919191,
                 1px 6px 1px #919191,
                 1px 7px 1px #919191,
                 1px 8px 1px #919191,
                 1px 9px 1px #919191,
                 1px 10px 1px #919191;

}
.protein-content img{
    width: 480px;
    height: 400px;
    position: absolute;
    top:75px;
    right: 360px;
    filter: drop-shadow(.2rem 3px 6px rgb(0,0,0,.3));
}
.protein-leftc{
  position: absolute;
  top: 25px;
  left: 30px;
  font-family: Radio Canada Big;

}   
.protein-container .nutri{
    font-size: 3.5rem;
    color: #ffff;
    width: 500px;
    font-weight: 900;
    text-shadow: .5rem 4px 10px rgb(0,0,0,.1);
    font-style: oblique;
}
.red-card{
    background-color: #df3030;
    height: 55px;
    width: 180px;
    transform: skewX(-20deg);
    text-align: center;
    color: white;
    position: absolute;
    top:10px;
    left:264px;
}
.red-card #steak{
   font-size: 2.5rem;
   font-weight: 900;
   padding: 10px;
}
.protein-container .per{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px;
}
.steak-definition{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
     width: 300px;
}

.bottom-part{
    display: flex;
    
    flex-direction: column;
    width: 400px;
}
.bottom-part .nutrients{
    font-size: 3rem;
    line-height: 50px;
    color: white;
    font-style: oblique;
    letter-spacing: 2px;
    text-shadow: .5rem 5px 5px rgb(0,0,0,0.1);
    
}
.bottom-part .red{
    height: 50px;
    width: 220px;
  
    transform:skewX(-20deg);
    color: white;
    margin-left: 5px;
}
.red .text-per{
    font-size: 2rem;
    padding: 50;
    font-weight: 900;
    letter-spacing: 2px;
}
.nutrie-grams{
    display: flex;
    flex-direction: column;
    color: white;
}
.nutrie-grams .facts{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 25px;
}
.btn-ing{
    border-radius: 0px;
    width: 130px;
    height: 40px;
    border: none;
    font-weight: 500;
    font-family:Radio Canada Big;;
    padding: 5px 20px;
    
}
.protein-rightc{
    position: absolute;
    width: 30%;
    right: 20px;
    top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Radio Canada Big;
    color: white;
    text-align: end;
   
}
.red{
    background-color: #df3030;
    width: 260px;
    height: 65px;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: .5rem 3px 10px rgb(0,0,0,0.2);
 
}
.direction{
    font-size: 3rem;
}
.protein-rightc p
{
    font-size: 1.1rem;
    text-align: justify;
    text-indent: 5px;
    margin-bottom: 20px;
}

.sec-2{
    position: relative;
    background-color: rgb(251, 248, 248);
}
.high-protein{
    display: flex;
    flex-direction: column;
    position: absolute;
    color: rgb(225, 220, 220);
    align-items: center;
    justify-content: center;
   left: 150px;
   top:70px;
}
.high-protein .high-pro{
    font-weight: 900;
    font-size: 8.5rem;
    line-height:160px;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,  
    1px 3px 1px #919191,
    1px 4px 1px #919191,                   
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191;
    letter-spacing: 8px;
}
.section-two{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    
}
.two-container{
    position: relative;
    width: 70%;
    height:300px;
    box-shadow: .5rem 8px 10px rgb(0,0,0,0.3);
    backdrop-filter: blur(8px);
    border: 1px double black ;
}
.two-container .imahe{
    position: absolute;
    top: -15%;
    right:-26%;
    filter: drop-shadow(.5rem 5px 10px rgb(0,0,0,.2));
}
.img-content{
   color: rgb(0, 0, 0);
   position: absolute;
   top: 10px;
   width: 540px;
   display: flex;
   flex-direction: column;  
   align-items: center;
   justify-content: center;    
   margin-left:60px;

}
.img-content .food-name{
   font-size: 6rem;
   text-shadow: 1px 1px 1px #ffff,
   1px 2px 1px #919191,  
   1px 3px 1px #919191,
   1px 4px 1px #919191,                   
   1px 5px 1px #919191,
   1px 6px 1px #919191,
   1px 7px 1px #919191,
   1px 8px 1px #919191,
   1px 9px 1px #919191,
   1px 10px 1px #919191;
   margin-bottom: 15px;
}
.img-content .info{
    font-size: 1.3rem;
}
.section-three{
    text-align: center;
   background-color:#ffff;
}

.section-three .let{

    text-align: center;
    font-size: 9rem;
    letter-spacing: 3px;
    color: black;
    background-image: url(images/textbg.png);
    color: transparent;
    background-size: cover;
    -webkit-background-clip: text;
}
.chs-meal{
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
   }
   .wrapper{
       transform: translateY(-30px);
   }
   
   .card{
       position: relative;
       width: 390px;
       height: 410px;
       margin-right: 10px;
       border-radius: 20px;
       overflow: hidden;
   
      
   }
   .card img{
       width: 100%;
       margin: auto;
       height: 100%;
       border-radius: 20px;    
   
   }
   .card-content{
       width: 100%;
       height: 100%;
       display: inline-block;
       justify-content: center;
       flex-direction: column;
       align-items: center;
       position: absolute;
       padding: 8px;
       top: 0;
       left: 0;
       text-align: center;
       transition: 0.7s;
       opacity: 0;
       z-index: 1;
       box-shadow: .5rem 8px 10px rgb(0,0,0,0.2);
  
   }
   .card:hover .card-content{
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.5);
      transition-delay: .1s;
      transform: scale(1.2);
   }
   .card-content:active{
     color:whitesmoke;
    }
   .card-content h1 {   
    font-size: 5rem;
    margin-top:100px;   
       padding-top: 40px;
       color: white;
       text-transform: capitalize;
       line-height: 70px;
       
   }
   .card-content p {
       font-size: 1.5rem;
       padding:20px;
       color: white;
   }